<div class="text-lg-center">
    <div class="container-fluid">
        <table class="table table-dark">
            <thead ng-repeat="question in quiz.questions">
            <tr>
                <th scope="col">{{question.question}}</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="choices in quiz.questions.question">
                <td>{{choices.choice1}}</td>
                <td>{{choices.choice2}}</td>
                <td>{{choices.choice3}}</td>
                <td>{{choices.choice4}}</td>
                </tr>
            </tbody>
        </table>
    </div>



    <label> You've done a very good job! Now we will have Biryani tonight</label>
    <div class="form-group">
        <input type="button" class="btn btn-default" ng-click="buildQuiz()" value="Save Quiz">
    </div>
</div>