<div class="container-fluid">
    <div class="flex-md-column-row">
        <div class="form-group">
            <button type="button" class="btn btn-primary" ng-click="addQuestion()" data-toggle="popover"
                    data-trigger="focus" title="Dismissible popover"
                    data-content="And here's some amazing content. It's very engaging. Right?">Add Question {{+count}}
            </button>

        </div>
        <div class="form-group">
            <input type="button" class="btn btn-default" ng-click="printQuestion()" value="Print Question">
        </div>
    </div>
</div>