<div class="container">
    <div class="row">
        <div class="form-group col-md-8">
            <input type="text" class="form-control" ng-model="question.choices.choice1" placeholder="Choice1">
        </div>
        <div class="form-group col-md-2 pull-right">
            <input type="button" ng-click="question.answer = 1" ng-hide="question.answer != 1 && question.answer != 0"
                   class="btn btn-primary" ng-value="'Correct'">
        </div>
        <div class="form-group col-md-8">
            <input type="text" class="form-control" ng-model="question.choices.choice2" placeholder="Choice2">
        </div>
        <div class="form-group col-md-2 pull-right">
            <input type="button" ng-click="question.answer = 2" ng-hide="question.answer != 2 && question.answer != 0"
                   class="btn btn-primary" ng-value="'Correct'">
        </div>
        <div class="form-group col-md-8">
            <input type="text" class="form-control" ng-model="question.choices.choice3" placeholder="Choice3">
        </div>
        <div class="form-group col-md-2 pull-right">
            <input type="button" ng-click="question.answer = 3" ng-hide="question.answer != 3 && question.answer != 0"
                   class="btn btn-primary" ng-value="'Correct'">
        </div>
        <div class="form-group col-md-8">
            <input type="text" class="form-control" ng-model="question.choices.choice4" placeholder="Choice4">
        </div>
        <div class="form-group col-md-2 pull-right">
            <input type="button" ng-click="question.answer = 4" ng-hide="question.answer != 4 && question.answer != 0"
                   class="btn btn-primary" ng-value="'Correct'">
        </div>
    </div>
</div>