<form name="new_quiz" ng-submit="addQuiz(new_quiz.$valid);">
        <div class="form-group">
            <input type="text" ng-model="quiz.author" class="form-control" placeholder="Author">
        </div>
        <div class="form-group">
            <input type="text" ng-model="quiz.quizName" class="form-control" placeholder="Quiz Name">
        </div>
        <div class="form-group">
            <input type="number" ng-model="quiz.questionLength" class="form-control" placeholder="Questions">
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Create New"/>
        </div>
</form>