<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <input type="button" class="navbar-brand" ng-click="quizMode = STARTAPP">Quiz App</input>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" ng-click="changeAppMode(appMode.CREATEQUIZ)">Create Quiz <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Open Quiz</a>
            </li>
        </ul>
    </div>
</nav>