<nav class="navbar navbar-dark bg-dark">
    <div class="nav justify-content-center">

        <input type="button" class="btn btn-default" ng-click="changeAppMode(appMode.STARTAPP); clearField();"
               ng-value="appInformation.appName"/>
        <input type="button" class="btn btn-default" ng-click="changeAppMode(appMode.CREATEQUIZ); "
               value="Create Quiz"/>
        <input type="button" class="btn btn-default" ng-click="changeAppMode(appMode.TAKEQUIZ)" value="Take Quiz"/>
    </div>
</nav>
